body {
	background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url("https://cdn.glitch.com/c0dcb651-5b19-4756-a6e6-25b3982ca367%2FCapturebg1.PNG?v=1597007564527");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	flex: 0 1 60 vw;
	margin: 0;
  }

.btn {
	padding: 0.5rem 2rem;
	background: transparent;
    border: 1px #ccc solid;
    display: inline-block;
    border-radius: 50px;
    text-decoration: none;
	color: #fff;
	padding-bottom: 3rem;
	width: 500px;
}

.btn:hover {
    background: #f4f4f4;
    color:#000;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
  background: #f4f4f4;
  color:#000;
}

h4 {
	line-height: 1.5em;
}