body {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://cdn.glitch.com/f28949c6-6f44-4abb-a9a1-6a9e90371a91%2Fimg15.jpeg?v=1588729605702");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	flex: 0 1 60 vw;
	margin: 0;
  }

.btn {
	padding: 0.5rem 2rem;
	background: transparent;
    border: 1px #ccc solid;
    display: inline-block;
    border-radius: 50px;
    text-decoration: none;
	color: #fff;
	padding-bottom: 3rem;
	width: 500px;
}

.btn:hover {
    background: #f4f4f4;
    color:#000;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
  background: #f4f4f4;
  color:#000;
}

h4 {
	line-height: 1.5em;
}