input  {
    z-index: 100;
    position: fixed;
    width: 60% !important;
    right: 20%;
    left: 20%;
    top: 50%;
    border-bottom: 3px solid #9e9e9e !important;
}



div {
    margin: 0 !important;
 }


 ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   #ffffff !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:   #ffffff !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:   #ffffff !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:   #ffffff !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:   #ffffff !important;
}

::placeholder { /* Most modern browsers support this now. */
   color:   #ffffff !important;
}

